@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

body {
  text-align: center;
  color: #0c4fe1;
  height: 100%; 
}

h1 {
  color: #EABE3F;
  padding: 50px;
  font-size: 40px;
}

#search-container {
    margin: 20px auto;
    width: 60%;
}

#search-input {
    width: 70%;
    padding: 5px;
    margin-right: 10px;
}

#search-button {
    background-color: #4285f4;
    border: 2px solid #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

#definition-result {
    margin: 20px auto;
    width: 60%;
}

/* Estilos para la lista de definiciones */
ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Estilos para los enlaces dentro de la definición */
a {
    text-decoration: none;
    color: #007BFF;
}

p {
    font-weight: bold;
    margin: 10px 0;
}

